<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>async</title>
</head>
<body>

<!--
    HTML5 为 <script> 标签定义了 async 属性。
    这个属性与 defer 属性类似。
    都用于改变外部脚本的行为。
    同样与 defer 类似，async 只适用于外部脚本文件，并告诉浏览器立即下载文件。
    但与 defer 不同的是，标记为 async 的脚本并不保证按照指定它们的先后顺序执行。
 -->
<script type="text/javascript" async th:src="@{/js/async/script1.js}"></script>
<script type="text/javascript" async th:src="@{/js/async/script2.js}"></script>


</body>
</html>